header {
    text-align: center;
    font-size: 40px;
    padding-top: 10%;
}
main{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
button {
    width: 20%;
    background-color: darkgoldenrod;
    border: none;
    font-size: 20px;
}
.hidden {
    visibility: hidden;
}
.characters-list {
    width: 100%;
    display: flex;
}
.battle-field {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 100%;
    background-color: darkgoldenrod;
}